body {
    position: relative;
}

.into-bubble {
    position: absolute;
    width: 40%;
    right: 30%;
    top: -30px;
}

.intro-text {
    position: absolute;
    right: 37%;
    font-size: 22px;
    width: 26%;
    top: 13%;
    text-align: center;
}

.intro-person {
    width: 40vw;
    object-fit: contains;
    margin-top: 15%;
}

.intro-next {
    position: absolute;
    width: 10%;
    right: 15%;
    top: 70%;
}

.instruction-person {
    margin-top: 4%;
}

.instruction-text {
    text-align: left;
    right: 35%;
}

.question-bubble {
    position: absolute;
    width: 35%;
    right: 44%;
    margin-top: -5%;
}

.question-text {
    position: absolute;
    right: 50%;
    font-size: 20px;
    width: 24%;
    top: 10%;
    text-align: center;
}

.question-person {
    margin-top: 5%;
}

.answer-box {
    position: absolute;
    right: 5%;
    top: 35%;
    height: 25%;
    width: 40%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

label {
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
}

.answer {
    height: 100%;
    width: 100%;
    border: rgb(0, 238, 255);
    border-style: solid;
    border-width: thin;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 0 10px;
}

.answer-btn {
    position: absolute;
    right: 30%;
    font-size: 22px;
    width: 10%;
    top: 75%;
    text-align: center;
}

.next-btn {
    position: absolute;
    right: 10%;
    font-size: 22px;
    height: 13%;
    top: 74%;
    text-align: center;
}

.yes {
    display: none;
}

.no {
    display: none;
}

.wrong {
    display: none;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); 
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    position: relative;
  }
  
 
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }